<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
	<!-- 회원가입 -->
	<insert id="register">
	    INSERT INTO C_USER(		U_ID 
	   					  		, U_PWD
	   					       	, U_NAME
	   					       	, U_EMAIL
	   					       	, U_FLAG)
	   					       
	                  VALUES(    #{u_id} 
	                 		   , #{u_pwd}
	                 		   , #{u_name}
	                 		   , #{u_email}
	                 		   , 1
	                 		   )
    </insert>
    
    <!-- 유저정보 -->
    <select id="userInfo" resultType="com.checkmate.vo.UserVO">
    	SELECT 	U_ID 
	   			, U_PWD
	   			, U_NAME
	   			, U_EMAIL
    		FROM C_USER
    			WHERE U_ID = #{u_id}
      
    </select>
    
     <!-- 로그인 -->
	<select id="login" resultType="com.checkmate.vo.UserVO">
		SELECT U_ID, U_PWD 
		  FROM C_USER
		 WHERE U_ID = #{u_id}
		   AND U_PWD = #{u_pwd}   
	</select>
	
	<!-- 유저 리스트 가져오기 -->
	<select id="userList" resultType="com.checkmate.vo.UserVO">
		SELECT C.U_ID, C.U_NAME, C.U_EMAIL, C.U_FLAG
		FROM C_USER C
		
		MINUS
		
		(SELECT C.U_ID, C.U_NAME, C.U_EMAIL, C.U_FLAG
		FROM C_USER C, C_GROUP G
		WHERE C.U_ID = G.U_ID AND G_NO = #{g_no} AND G_FLAG IN(0, 1))
	</select>
	
	<select id="userListCount" resultType="int">
		SELECT COUNT(*)
		FROM (		SELECT C.U_ID, C.U_NAME, C.U_EMAIL, C.U_FLAG
		FROM C_USER C
		
		MINUS
		
		(SELECT C.U_ID, C.U_NAME, C.U_EMAIL, C.U_FLAG
		FROM C_USER C, C_GROUP G
		WHERE C.U_ID = G.U_ID AND G_NO = #{g_no} AND G_FLAG IN(0, 1)))
	</select>
	
	<!-- 네이버 로그인 회원가입 -->
	<insert id="socialReg">
	    INSERT INTO C_USER(		U_ID 
	   					  		, U_PWD
	   					       	, U_NAME
	   					       	, U_EMAIL
	   					       	, U_FLAG)
	   					       
	                  VALUES(    #{u_id} 
	                 		   , 0
	                 		   , #{u_name}
	                 		   , #{u_email}
	                 		   , #{u_flag}
	                 		   )
    </insert>
    
    <select id="socialAlreadyChk" resultType="int">
    	SELECT COUNT(*)
    	FROM (SELECT U_ID FROM C_USER WHERE U_ID = #{u_id})
    </select>
</mapper>